doctype html
html
  head
    title RITSEC Resume Review
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content='initial-scale=1, width=device-width', name='viewport')
    block head
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        a.navbar-brand(href='/') Resume Review
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navigation.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li(class=homeActive ? "active nav-item" : "nav-item")
              a.nav-link(href='/') Home
            li(class=uploadActive ? "active nav-item" : "nav-item")
              a.nav-link(href='/upload') Upload
            if user
              li(class=mineActive ? "active nav-item" : "nav-item")
                a.nav-link(href='/resumes/view/user/' + user.sub) My Resumes
          if user
            ul.nav.navbar-nav.ml-auto
              li.nav-item.navbar-user.dropdown
                a#user.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
                  img(src=user.picture)
                  | #{user.name}
                  span.caret
                .dropdown-menu(aria-labelledby='user')
                  a.text-white.bg-gray.dropdown-item(href='https://help.ritsec.cloud') Report an Issue
    if error
      .container
        .row
          .col-6
            .alert.alert-dismissible.alert-danger
              strong Error: 
              | #{error}

    block content
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    block footer
      a.footer-version(href="https://github.com/computersciencehouse/resume-review").text-white Inspired by Computer Science House
